@import "main.scss";
@import "root.scss";

.inline_btn {
    display: flex;
    margin: 0 5px;
    width: -webkit-fill-available;
    overflow: hidden;
    border: $border;

    & > button {
        border: none;
        border-radius: 0;
        margin: 0;
        transition: flex ease-in-out 0.5s;
    }
}
//基礎
body {
    position: fixed;
    overflow-x: hidden;
    width: 100vw;
    color:BScolor($main);
    background-color: BScolor($bg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Microsoft JhengHei";
}
#sys_disabled{
    z-index: 99999;
    background: BScolor($bg,.4);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    &>p{
        margin: auto;
        font-size: xx-large;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: linear-gradient(90deg, transparent,#f1dac4b3,$BSmain, $BSmain, #f1dac4b3,transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #00000000;
        animation: _sys_disabled 6s cubic-bezier(.1, .8, .9, .2)  infinite;
    }
}
@keyframes _sys_disabled {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
#server_info{//訊息
    z-index: 5000;
    top: 0;
    right: 0;
    position: fixed;
    pointer-events: none;
    margin:0 1em 0 0;
}
.info_box{
    margin:.5em 0 0 0;
    pointer-events: all;
    padding: 5px;
    background-color: BScolor($black,.8);
    backdrop-filter: blur(3px);
    border-right-width: 5px;
    border-right-style: solid;
    animation: fade_in .6s;
    &.info_log{
        border-color: BScolor($main);
    }
    &>h2{
        &:not(:only-child){
            border-bottom: $border;
        }
        padding: 0 1.2em;
        margin: 0;
        
    }
    &>p{
        margin: .5em 0 0 0;
        text-align: center;
    }
}
header {
    z-index: 500;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 5px;
    height: 40px;
    width: 100vw;
    background-color: BScolor($side-3);
    border-bottom: $border;
    box-sizing: content-box;
    user-select: none;

    & a.title {
        color: BScolor($main);
        text-decoration: none;
        font-weight: 550;
        box-sizing: border-box;
        position: absolute;
        padding: 5px;
        font-size: 30px;
        height: 40px;
        width: 100%;
        line-height: 30px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &::before{
            box-sizing: border-box;
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -100%;
            left: 0;
            background-color: BScolor($main);
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            color: BScolor($black);

            &::before {
                bottom: 0;
            }
        }
    }

    & button {
        outline: none;
        display: inline-block;
        position: absolute;
        right: 0;
        margin: 0;
        height: 100%;
        width: 42px;
        border: none;
        border-radius: 0;
        border-left: $border;
        transition: background ease-in-out .2s,color ease-in-out .2s;
        background: BScolor(var(--side-3));

        &:focus::before{
            content: "";
            position: absolute;
            background-color: BScolor($main);
            color: BScolor($side-3)
        }

        &:active {
            position: absolute;
            background-color: BScolor($main);
            color: BScolor($side-3)
        }

        & svg {
            width: 100%;
            height: 100%;
        }
    }
}
::-webkit-scrollbar  {
    background-color: BScolor($no_color);
    width:10px;
}
::-webkit-scrollbar-thumb  {
    background-color:BScolor($bg);
    border:$border;
}

#loading{
    z-index: 99999;
    background:BScolor($bg,.4);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    &>p{
        font-size: 2rem;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: linear-gradient(90deg, transparent,#f1dac4b3,$BSmain,$BSmain
        , #f1dac4b3,transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $no_color;
        animation: _sys_disabled 6s cubic-bezier(.1, .8, .9, .2)  infinite;
    }
}


main#main_contant{
    overflow: hidden overlay;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition:width ease-in-out .5s;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 42px;
    box-sizing: border-box;
    &::-webkit-scrollbar-thumb  {
        background-color:BScolor($bg,.6);
        border-color:BScolor($main,.8);
    }
    &>div{
        width: 100%;
    }

    & h1 {
        font-size: 50px;
        margin: 5% 10% 0 5%;
    }

    & h2 {
        font-size: 35px;
        margin: 0 10% 0 5%;
    }

    & p {
        margin: 0 5%;
        font-size: large;
    }
}

footer {
    z-index: 800;
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: BScolor($side-3);
    border-top: $border;
    box-sizing: content-box;
    max-height: 70vh;
    overflow-y: auto;
    user-select: none;
    display: none;
}

button {
    color: BScolor($main);
    background: BScolor($side-3);
    border:$border;
    width: 100%;
    font-size: 200%;
    margin: 5px 0;

    &:hover {
        background: BScolor($side-2);
        color: BScolor($main);
    }

    &:active {
        background: BScolor($side-1);
        color: BScolor($bg);
    }
}

@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}