@import "\root.scss";

.inline_btn {
    display: flex;
    margin: 0 5px;
    width: -webkit-fill-available;
    overflow: hidden;
    border: #f1dac4 solid 2px;

    & > button {
        border: none;
        border-radius: 0;
        margin: 0;
        transition: flex ease-in-out 0.5s;
    }
}
//基礎
body {
    position: fixed;
    overflow-x: hidden;
    width: 100vw;
    color: $main;
    background-color: #0d0c1d;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Microsoft JhengHei";
}
#sys_disabled{
    z-index: 99999;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    &>p{
        font-size: xx-large;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: linear-gradient(90deg, transparent,#f1dac4b3,$main, $main, #f1dac4b3,transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #00000000;
        animation: _sys_disabled 6s cubic-bezier(.1, .8, .9, .2)  infinite;
    }
}
@keyframes _sys_disabled {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
header {
    z-index: 500;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 5px;
    height: 40px;
    width: 100vw;
    background-color: #161b33;
    border-bottom: 2px solid #f1dac4;
    box-sizing: content-box;
    user-select: none;

    & a.title {
        color: #f1dac4;
        text-decoration: none;
        font-weight: 550;
        box-sizing: border-box;
        position: absolute;
        padding: 5px;
        font-size: 30px;
        height: 40px;
        width: 100%;
        line-height: 30px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &::before{
            box-sizing: border-box;
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -100%;
            left: 0;
            background-color: #f1dac4;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            color: #0d0c1d;

            &::before {
                bottom: 0;
            }
        }
    }

    & button {
        outline: none;
        display: inline-block;
        position: absolute;
        right: 0;
        margin: 0;
        height: 100%;
        width: 42px;
        border: none;
        border-radius: 0;
        border-left: 2px solid #f1dac4;
        transition: background ease-in-out .2s,color ease-in-out .2s;

        &:focus::before {
            content: "";
            position: absolute;
            background-color: #f1dac4;
            color: #161b33
        }

        & button:active {
            content: "";
            position: absolute;
            background-color: #f1dac4;
            color: #161b33
        }

        & button svg {
            width: 100%;
            height: 100%;
        }
    }
}

a.title#a.title_content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5vw;
    color: #fff;
}
::-webkit-scrollbar  {
    background-color: transparent;
    width:10px;
}
::-webkit-scrollbar-thumb  {
    background-color:#0d0c1d;
    border:#f1dac4 solid 2px;
}
main#main_contant{
    overflow: hidden overlay;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition:width ease-in-out .5s;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 42px;
    box-sizing: border-box;

    &>div{
        width: 100%;
    }

    & h1 {
        font-size: 50px;
        margin: 5% 10% 0 5%;
    }

    & h2 {
        font-size: 35px;
        margin: 0 10% 0 5%;
    }

    & p {
        margin: 0 5%;
        font-size: large;
    }
}

footer {
    z-index: 800;
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #161b33;
    border-top: 2px solid #f1dac4;
    box-sizing: content-box;
    max-height: 70vh;
    overflow-y: auto;
    user-select: none;
}

button {
    color: #f1dac4;
    background: #161b33;
    border: 2px solid #f1dac4;
    width: 100%;
    font-size: 200%;
    margin: 5px 0;

    &:hover {
        background: #474973;
        color: #f1dac4;
    }

    &:active {
        background: #a69cac;
        color: #0d0c1d;
    }
}

@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}