@import "../main.scss";

#main_contant{
    padding-bottom: 26px;
}
#reload_line{
    position: absolute;
    width: 100%;
    height: .3em;
    background-color: BScolor($side-2);
    position: relative;
}
#last_time{
    background-color: BScolor($main);
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
}
#Gaccount {
    margin-top: .3em;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}
.account_items {
    $img_width:110px;
    $img_end_width:calc(100% - 110px);

    background-color: BScolor($side-3);
    flex: 0 0 96%;
    position: relative;
    background-size: cover!important;
    margin: 2%;
    height: max-content;
    animation: fade_in 0.5s;
    border: $border;
    box-sizing: border-box;
    transition:
        opacity ease-in-out .3s,
        color .3s,
        border-color .3s;
    opacity: 1;
    & > .img{
        width: $img_width;
        height: $img_width;
        background-size: cover!important;
        box-sizing: border-box;
        border-right: beige;
        display: block;
        border-right: $border;
        box-sizing: border-box;
    }
    & > .code{
        padding-bottom: 5px;
        box-sizing: border-box;
        text-transform:uppercase;
        width: $img_end_width;
        height: calc(100% - 26px);
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        cursor: pointer;
    }
    & .coped{
        opacity: 0;
        height: 0em;
    }
    & .guard_code{
        height: 3.3rem;
        font-family: monospace;
        font-size: 3rem !important;
        margin: 0 !important;
        animation:fade_in .6s ease-in both .4s;
    }
    & > p {
        margin:0 0 0 $img_width!important;
        left: 0;
        bottom: 0;
        text-align: center;
        white-space: nowrap;
        height: min-content;
        position: absolute;
        overflow-x: overlay;
        background: #0d0c1d99;
        width: $img_end_width;
        border-top: $border;
        transition: border-color;
        user-select: text;

        &:hover {
            overflow-x: auto;
            border-bottom: 0;
            &::-webkit-scrollbar {
                height: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-bottom: 0;
            }
        }

        &::-webkit-scrollbar {
            height: 4px;
        }
    }
}
.del_mode > div {
    cursor: pointer;
    color: BScolor($side-1);
    border-color: BScolor($side-1);
    & > p {
        cursor: pointer;
        border-color: BScolor($side-1);
    }
    &::before {
        transition: all ease-in-out 0.3s;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &:hover::before {
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(3px);
    }
}

.will_del {
    cursor: default;
    color: BScolor($side-1);
    border-color: BScolor($side-1);
    &>p{
        border-color: BScolor($side-1);
    }
    &::before {
        transition: all ease-in-out 0.3s;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(3px);
    }
}

.tag{
    position: fixed;
    bottom: 0;
    margin: 5px 0;
    width: 96% !important;
    padding-top: 15px;
    background: BScolor($side-3);
    border: BScolor($main) solid 2px;
    z-index: 100;
    animation: fade_in ease-in-out .3s both .5s;
    transition: padding-top .3s .3s;

    &:hover {
        padding-top: 0px;
        & > #new-account  > button{
            height: 1.3em;
        }
    }
}
#new-account {
    margin: 0;
    border: none;
    &>button{
        font-size: 1.5em;
        height: 0;
        transition: height 0.3s 0.3s;
    }
}