@import "../main.scss";

#OPTaccount {
    display: -webkit-inline-box;
    margin: 5px;
    overflow-x: hidden;
    height: min-content;
    width: -webkit-fill-available;
    overflow-x: auto;
    &::-webkit-scrollbar {
        height: 10px;
    }
    & > div {
        cursor: pointer;
        box-sizing: border-box;
        border: $border;
        width: 80px;
        height: 80px;
        background-size: cover !important;
        position: relative;
        overflow: hidden;
        margin: 0 5px 5px 0;
        &:last-child {
            margin: 0 0 5px 0;
        }
        &:hover > .acc_txt {
            border-top: $border;
            height: 23px;
            & > p {
                display: block;
            }
        }
    }
}
.card{
    margin: .6em;
    border-left: BScolor($main);
    &>.title{
        margin: 0 5% 0 10%;
        font-size: 1.5em;
        border-bottom:$border;
    }
    &>.info{
        margin: .4em 0 0 0!important;
        &>a{
            color:BScolor($bg);
            background-color: BScolor($main);
            text-decoration: none;
        }
    }
    &>input{
        height: 1.5em;
        font-size: .8em;
        width: -webkit-fill-available;
        border: BScolor($bg);
        border-radius: 0;
        background-color: BScolor($main);
        color: BScolor($bg);
        outline: none;
    }
}
.acc_txt {
    cursor: default;
    height: 0;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    background: #161b334d;
    border-top: hidden;
    transition: height ease-in-out 0.2s;
    box-sizing: border-box;
    & > p {
        position: relative;
        margin: 0 !important;
        animation: marqee 7.5s linear infinite;
        white-space: nowrap;
        width: fit-content;
        padding: 0 10px;
        box-sizing: border-box;
        display: none;
    }
}
@keyframes marqee {
    0% {
        left: 100%;
        transform: translateX(0%);
    }

    100% {
        left: 0;
        transform: translateX(-100%);
    }
}
.items {
    margin: 0 0 .5em 0 ;
    & > h2 {
        display: inline;
        cursor: n-resize;
        user-select: none;
        position: relative;

        &::before {
            height: auto;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8px;
            width: 4px;
            background-color: #f1dac4;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 0.5s ease-in-out;
        }

        &:hover::before {
            transform-origin: center top;
            transform: scaleY(1);
        }
    }
}
#new-account {
    flex: 5;
}
#reload-account {
    flex: 1;
    border-left: $border;
}
input[data-hide]{
    color: transparent; 
    position: relative;
    box-sizing: border-box;
    border-left: BScolor($black) solid 2px;
    background-color: BScolor($side-2);
    padding-left: 4px;
    user-select: none;
    &:hover{
        animation: data-hide-in .2s ease-in .3s both;
    }
}
.select{
    &>input{
        display: none;
    }
    border-radius: 0;
    width: -webkit-fill-available;
    appearance: none;
    font-size: 1.5rem;
    border-color: BScolor($main);
    background-color: BScolor($side-2);
    color: BScolor($main);
    border-width:0 0 2px 0;
    margin: .2rem 0 0 .2rem;
    cursor: pointer;
    &>p{
        padding: 0.1em;
        margin: 0!important;
    }
    &>.type{
        display: block;
        text-align: right;
        position: relative;
        border-right:BScolor($black) .2em solid;
        transition-property: border-color,background-color;
        transition-timing-function: ease-out;
        transition-duration:.3s ;
        &:hover{
            border-color: BScolor($main);
            background-color: BScolor($side-3);
        }
    }
    &>div{//hr
        height: 2px;
        background-color: BScolor($main);
    }
    &>.opt{
        &:hover{
            border-color: BScolor($main);
            background-color: BScolor($side-3);
            color:BScolor($white)
        }
        border-width:0 0 0 .2em;
        border-style: solid;
        border-color: BScolor($black);
        transition:
            border-color ease-in-out .3s,
            background-color ease-in-out .3s ,
            color ease-in-out .3s;
        text-align: left;
        display: none;
    }
}
@keyframes data-hide-in{
    to{
        color:BScolor($main);
        border-left-color:BScolor($main);
        user-select: text;
    }
}