.inline_btn {
  display: flex;
  margin: 0 5px;
  width: -webkit-fill-available;
  overflow: hidden;
  border: #f1dac4 solid 2px; }
  .inline_btn > button {
    border: none;
    border-radius: 0;
    margin: 0;
    transition: flex ease-in-out 0.5s; }

body {
  position: fixed;
  overflow-x: hidden;
  width: 100vw;
  color: #F1DAC4;
  background-color: #0d0c1d;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Microsoft JhengHei"; }

#sys_disabled {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  #sys_disabled > p {
    font-size: xx-large;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: linear-gradient(90deg, transparent, #f1dac4b3, #F1DAC4, #F1DAC4, #f1dac4b3, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    animation: _sys_disabled 6s cubic-bezier(0.1, 0.8, 0.9, 0.2) infinite; }

@keyframes _sys_disabled {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }

header {
  z-index: 500;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  height: 40px;
  width: 100vw;
  background-color: #161b33;
  border-bottom: 2px solid #f1dac4;
  box-sizing: content-box;
  user-select: none; }
  header a.title {
    color: #f1dac4;
    text-decoration: none;
    font-weight: 550;
    box-sizing: border-box;
    position: absolute;
    padding: 5px;
    font-size: 30px;
    height: 40px;
    width: 100%;
    line-height: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }
    header a.title::before {
      box-sizing: border-box;
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -100%;
      left: 0;
      background-color: #f1dac4;
      transition: all 0.3s ease-in-out; }
    header a.title:hover {
      color: #0d0c1d; }
      header a.title:hover::before {
        bottom: 0; }
  header button {
    outline: none;
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 0;
    height: 100%;
    width: 42px;
    border: none;
    border-radius: 0;
    border-left: 2px solid #f1dac4;
    transition: background ease-in-out .2s,color ease-in-out .2s; }
    header button:focus::before {
      content: "";
      position: absolute;
      background-color: #f1dac4;
      color: #161b33; }
    header button button:active {
      content: "";
      position: absolute;
      background-color: #f1dac4;
      color: #161b33; }
    header button button svg {
      width: 100%;
      height: 100%; }

a.title#a.title_content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5vw;
  color: #fff; }

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #0d0c1d;
  border: #f1dac4 solid 2px; }

main#main_contant {
  overflow: hidden overlay;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: width ease-in-out .5s;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 42px;
  box-sizing: border-box; }
  main#main_contant > div {
    width: 100%; }
  main#main_contant h1 {
    font-size: 50px;
    margin: 5% 10% 0 5%; }
  main#main_contant h2 {
    font-size: 35px;
    margin: 0 10% 0 5%; }
  main#main_contant p {
    margin: 0 5%;
    font-size: large; }

footer {
  z-index: 800;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #161b33;
  border-top: 2px solid #f1dac4;
  box-sizing: content-box;
  max-height: 70vh;
  overflow-y: auto;
  user-select: none; }

button {
  color: #f1dac4;
  background: #161b33;
  border: 2px solid #f1dac4;
  width: 100%;
  font-size: 200%;
  margin: 5px 0; }
  button:hover {
    background: #474973;
    color: #f1dac4; }
  button:active {
    background: #a69cac;
    color: #0d0c1d; }

@keyframes fade_in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
