:root {
  --main:241, 218, 196;
  --side-1:166, 156, 172;
  --side-2:71, 73, 115;
  --side-3:22, 27, 51;
  --bg:13, 12, 29;
  --white:212, 212, 212;
  --black:58, 58, 58;
}

.fade-in {
  animation: fade_in 0.4s ease-in-out;
}

:where(html) .inline_btn {
  display: flex;
  margin: 0 5px;
  width: -webkit-fill-available;
  overflow: hidden;
  border: rgb(var(--main)) solid 2px;
}
:where(html) .inline_btn > button {
  border: none;
  border-radius: 0;
  margin: 0;
  transition: flex ease-in-out 0.5s;
}
:where(html) body {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  color: rgb(var(--main));
  background-color: rgb(var(--bg));
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Microsoft JhengHei";
}
:where(html) #sys_disabled {
  z-index: 5000;
  background: rgba(var(--bg),0.4);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
:where(html) #sys_disabled > p {
  margin: auto;
  font-size: xx-large;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image: linear-gradient(90deg, transparent, #f1dac4b3, #F1DAC4, #F1DAC4, #f1dac4b3, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00000000;
  animation: _sys_disabled 6s cubic-bezier(0.1, 0.8, 0.9, 0.2) infinite;
}
@keyframes _sys_disabled {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
:where(html) #server_info {
  z-index: 8000;
  top: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
  margin: 0 1em 0 0;
}
:where(html) .info_box {
  margin: 0.5em 0 0 0;
  pointer-events: all;
  padding: 5px;
  background-color: rgba(var(--black),0.8);
  backdrop-filter: blur(3px);
  border-right-width: 5px;
  border-right-style: solid;
  animation: fade_in 0.6s;
}
:where(html) .info_box.info_log {
  border-color: rgb(var(--main));
}
:where(html) .info_box > h2 {
  padding: 0 1.2em;
  margin: 0;
}
:where(html) .info_box > h2:not(:only-child) {
  border-bottom: rgb(var(--main)) solid 2px;
}
:where(html) .info_box > p {
  margin: 0.5em 0 0 0;
  text-align: center;
}
:where(html) header {
  z-index: 500;
  position: sticky;
  top: 0;
  left: 0;
  height: 40px;
  width: 100vw;
  background-color: rgb(var(--side-3));
  border-bottom: rgb(var(--main)) solid 2px;
  box-sizing: content-box;
  user-select: none;
}
:where(html) header a.title {
  border-radius: 0;
  color: rgb(var(--main));
  background-color: Transparent;
  text-decoration: none;
  font-weight: 550;
  box-sizing: border-box;
  position: absolute;
  padding: 5px;
  font-size: 30px;
  height: 40px;
  width: 100%;
  line-height: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
:where(html) header a.title::before {
  box-sizing: border-box;
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background-color: rgb(var(--main));
  transition: all 0.3s ease-in-out;
}
:where(html) header a.title:hover {
  color: rgb(var(--black));
}
:where(html) header a.title:hover::before {
  bottom: 0;
}
:where(html) header button {
  outline: none;
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0;
  height: 100%;
  width: 42px;
  border: none;
  border-radius: 0;
  border-left: rgb(var(--main)) solid 2px;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
  background: rgb(var(--side-3));
}
:where(html) header button:focus::before {
  content: "";
  position: absolute;
  background-color: rgb(var(--main));
  color: rgb(var(--side-3));
}
:where(html) header button:active {
  position: absolute;
  background-color: rgb(var(--main));
  color: rgb(var(--side-3));
}
:where(html) header button svg {
  width: 100%;
  height: 100%;
}
:where(html) ::-webkit-scrollbar {
  background-color: rgb(Transparent);
  width: 10px;
}
:where(html) ::-webkit-scrollbar-thumb {
  background-color: rgb(var(--bg));
  border: rgb(var(--main)) solid 2px;
}
:where(html) #loading {
  z-index: 5000;
  background: rgba(var(--bg),0.4);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
:where(html) #loading > p {
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image: linear-gradient(90deg, transparent, #f1dac4b3, #F1DAC4, #F1DAC4, #f1dac4b3, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: Transparent;
  animation: _sys_disabled 6s cubic-bezier(0.1, 0.8, 0.9, 0.2) infinite;
}
:where(html) #main_contant {
  overflow: hidden overlay;
  width: 100%;
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: width ease-in-out 0.5s;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
:where(html) #main_contant::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bg),0.6);
  border-color: rgba(var(--main),0.8);
}
:where(html) #main_contant > div {
  width: 100%;
}
:where(html) #main_contant h1 {
  font-size: 50px;
  margin: 5% 10% 0 5%;
}
:where(html) #main_contant h2 {
  font-size: 35px;
  margin: 0 10% 0 5%;
}
:where(html) #main_contant p {
  margin: 0 5%;
  font-size: large;
}
:where(html) footer {
  z-index: 800;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(var(--side-3));
  border-top: rgb(var(--main)) solid 2px;
  box-sizing: content-box;
  max-height: 70vh;
  overflow-y: auto;
  user-select: none;
  display: none;
}
:where(html) button {
  color: rgb(var(--main));
  background: rgb(var(--side-3));
  border: rgb(var(--main)) solid 2px;
  width: 100%;
  font-size: 200%;
  margin: 5px 0;
}
:where(html) button:hover {
  background: rgb(var(--side-2));
  color: rgb(var(--main));
}
:where(html) button:active {
  background: rgb(var(--side-1));
  color: rgb(var(--bg));
}
:where(html) a {
  color: rgb(var(--bg));
  background-color: rgb(var(--main));
  padding: 0 0.2em;
  text-decoration: none;
  border-radius: 0.1em;
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
