:root {
  --main:241, 218, 196;
  --side-1:166, 156, 172;
  --side-2:71, 73, 115;
  --side-3:22, 27, 51;
  --bg:13, 12, 29;
  --white:212, 212, 212;
  --black:58, 58, 58;
}

.fade-in {
  animation: fade_in 0.4s ease-in-out;
}
