@import "../main.scss";

#trade_list{
    height: 100vh;
}
.title{
    margin: 0 0 .5em 3.5em;
    font-size: 3rem;
    border-bottom: $border;
    padding-bottom: .2em;
}
#get_web_api_key{
    outline: none;
    width: 100%;
    font-size: 1.8em;
    height: 1.3em;
    padding: .2rem;
    border-radius: 0;
    border: none;
    background: BScolor($side-2);
    color: BScolor($main);
}