#OPTaccount {
  display: -webkit-inline-box;
  margin: 5px;
  overflow-x: hidden;
  height: min-content;
  width: -webkit-fill-available;
  overflow-x: auto;
}
#OPTaccount::-webkit-scrollbar {
  height: 10px;
}
#OPTaccount > div {
  cursor: pointer;
  box-sizing: border-box;
  border: rgb(var(--main)) solid 2px;
  width: 80px;
  height: 80px;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
  margin: 0 5px 5px 0;
}
#OPTaccount > div:last-child {
  margin: 0 0 5px 0;
}
#OPTaccount > div:hover > .acc_txt {
  border-top: rgb(var(--main)) solid 2px;
  height: 23px;
}
#OPTaccount > div:hover > .acc_txt > p {
  display: block;
}

.card {
  margin: 0.6em;
  border-left: rgb(var(--main));
}
.card > .title {
  margin: 0 5% 0 10%;
  font-size: 1.5em;
  border-bottom: rgb(var(--main)) solid 2px;
}
.card > .info {
  margin: 0.4em 0 0 0 !important;
}
.card > .info > a {
  color: rgb(var(--bg));
  background-color: rgb(var(--main));
  text-decoration: none;
}
.card > input {
  height: 1.5em;
  font-size: 0.8em;
  width: -webkit-fill-available;
  border: rgb(var(--bg));
  border-radius: 0;
  background-color: rgb(var(--main));
  color: rgb(var(--bg));
  outline: none;
}
.card .checkbox {
  margin: 0 !important;
  cursor: pointer;
}
.card .checkbox::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 0.9em;
  height: 0.9em;
  border: rgb(var(--main)) solid 2px;
  background-color: rgb(var(--bg));
  margin-right: 0.1em;
  transition: background 0.2s ease-in-out;
}
.card .checkbox.checked::before {
  background-color: rgb(var(--main));
}
.card .checkbox > input {
  display: none;
}

.acc_txt {
  cursor: default;
  height: 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: #161b334d;
  border-top: hidden;
  transition: height ease-in-out 0.2s;
  box-sizing: border-box;
}
.acc_txt > p {
  position: relative;
  margin: 0 !important;
  animation: marqee 7.5s linear infinite;
  white-space: nowrap;
  width: fit-content;
  padding: 0 10px;
  box-sizing: border-box;
  display: none;
}

@keyframes marqee {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}
.items {
  margin: 0 0 0.5em 0;
}
.items > h2 {
  display: inline;
  cursor: n-resize;
  user-select: none;
  position: relative;
}
.items > h2::before {
  height: auto;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  width: 4px;
  background-color: #f1dac4;
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: transform 0.5s ease-in-out;
}
.items > h2:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}

#new-account {
  flex: 5;
}

#reload-account {
  flex: 1;
  border-left: rgb(var(--main)) solid 2px;
}

input[data-hide] {
  color: transparent;
  position: relative;
  box-sizing: border-box;
  border-left: rgb(var(--black)) solid 2px;
  background-color: rgb(var(--side-2));
  padding-left: 4px;
  user-select: none;
}
input[data-hide]:hover {
  animation: data-hide-in 0.2s ease-in 0.3s both;
}

.select {
  border-radius: 0;
  width: -webkit-fill-available;
  appearance: none;
  font-size: 1.5rem;
  border-color: rgb(var(--main));
  background-color: rgb(var(--side-2));
  color: rgb(var(--main));
  border-width: 0 0 2px 0;
  margin-bottom: 0.2em;
  cursor: pointer;
}
.select > input {
  display: none;
}
.select > p {
  padding: 0.1em;
  margin: 0 !important;
}
.select > .type {
  display: block;
  text-align: right;
  position: relative;
  border-right: rgb(var(--black)) 0.2em solid;
  transition-property: border-color, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.select > .type:hover {
  border-color: rgb(var(--main));
  background-color: rgb(var(--side-3));
}
.select > div {
  height: 2px;
  background-color: rgb(var(--main));
}
.select > .opt {
  border-width: 0 0 0 0.2em;
  border-style: solid;
  border-color: rgb(var(--black));
  transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  text-align: left;
  display: none;
}
.select > .opt:hover {
  border-color: rgb(var(--main));
  background-color: rgb(var(--side-3));
  color: rgb(var(--white));
}

@keyframes data-hide-in {
  to {
    color: rgb(var(--main));
    border-left-color: rgb(var(--main));
    user-select: text;
  }
}
